AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here

# settings.py の本ごとの設定（未設定時は settings.py のデフォルト値が使われる）
# 処理を行う最初のページ（pdfviewerで確認した値）
FIRST_PAGE=15
# 処理を行う最初のページに記載されているページ数（pdfの画像内にある値）
FIRST_PAGE_IN_BOOK=1
# 処理を行う最後のページ（pdfviewerで確認した値）
LAST_PAGE=317
# pdfのパス
PDF_PATH=book.pdf
# summary_at_once.py で処理するファイル名
FILE_NAME=0003.txt
